.map-wrapper {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.map {
  position: relative;
  align-items: center;
  justify-content: center;
  top: auto;
  right: auto;
  left: auto;
  height: 500px;
  width: 100%;
}
